@tailwind base;
@tailwind components;
@tailwind utilities;







@layer components{
  /* Layout Classes */
  .page-format{
    @apply px-[3%] md:px-[83px] 2xl:px-[166px]
  }
  .width-cap{
    @apply max-w-[1920px]
  }
  
}

:root {
  --primary-color:#DE6A2A;
  --header-height:90px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}
